/* CourseCard.css */
.course-card {
    border: 1px solid #ddd;
    padding: 16px;
    margin: 20px;
    border-radius: 8px;
    text-align: center;
    transition: box-shadow 0.3s;
  }
  
  .course-card:hover {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  }
  /* Remove bullets from the description list */
.course-card ul {
    list-style-type: none; /* Removes bullets */
    padding: 0; /* Removes default padding */
    margin: 0; /* Removes default margin */
  }
  
  
  .view-button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .view-button:hover {
    background-color: #0056b3;
  }
  