.App {
  text-align: center;
  padding: 20px;
  background-color: #f4f4f9;
}

h1 {
  color: #6d3dbf;
  margin-bottom: 40px;
}
/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

